/* Body */
body{
    background-color: #FCF0EC;
}

/* Headings and pharagraph styles */

h1{ 
    font-family: "Volkorn";
    font-size: 60px;
    color: #F05B5C;
    font-weight: 500;
}

h2{
    font-family: "Volkorn";
    font-size:48px; 
    font-weight: 600;
    color: #121212;
    line-height: 0.5;
}

h3{
    font-family: "Volkorn";
    font-size:32px; 
    font-weight: 600;
    color: #121212;  
}

h4{
    font-family: "Volkorn";
    font-size:24px; 
    font-weight: 500;
    color: #121212;  
}

p{
    font-family:"Open Sans";
    font-size: 18px;
    font-weight:300;
    color: #121212; 
    line-height: 1.4;  
}

.category{
    font-size: 14px;
    color: #0D87DB;
}

/* Header */
#menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
}

#menu .logo {
    margin-left: 3%;
    width: 200px;
    height: auto;
}

#menu .logo image{
    width: 100%;
    height: auto;
}

#menu .nav{
    margin-right: 3%;
}

#menu .nav ul {
   

}

#menu .nav ul li {
    display: inline-block;
    margin: 20px;
    
}

#menu .nav ul li a {
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color: #121212;
    text-decoration: none;
}

#menu .nav ul li a:hover {
   color:#F05B5C;
}

/* Main */

.wrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content:space-between;
    height: calc(100vh - 140px);
    align-items: center;
    padding: 5%;
}

.hero-image{
    flex-basis: 40%;
    align-self: center;
}
.hero-image img{
    padding: 1%;
    width: 100%;
    height: auto;
}
.hero-text{
    padding:2%;
    flex-basis: 50%;
    align-self: center;
}

.hero-text p a.social-linkedin{
    color:#0D87DB;
    background-image:url(../images/icon-linkedin-hero.png);
    background-size: cover;
    
}


/* Project Section */

.projects .section-title{
    box-align:center;
}

.project{
    display: flex;
    padding:3%;
    height: 70vh;
    align-items: center;
}

.project-img{
    flex-basis: 50%;
}

.project-img img{
    width: 100%;
    height: auto;
}

.project-text{
    flex-basis: 50%;
}

.project-text a{
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: #121212;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 26px;
}

.project-text a:hover {
    color:#0D87DB;
 }

.project:nth-of-type(odd){
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project:nth-of-type(even) .project-text{
    text-align: right;
}

/* Footer*/
footer{
    background-color: white;
    width: 100%;
    height: 120px;
    display: flex;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul.social{
    padding:0;
}

footer ul.social li{
    display: inline-block;
    
}


footer a.footer-linkedin{
    display: block;
    width: 22px;
    height: 20px;
    background-size: cover;
    background-image: url(../images/icon-linkedin-footer.png);
}

footer a.footer-dribbble{
    display: block;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url(../images/icon-dribbble-footer.png);
    margin-left: 15px;
}

a.contact{ 
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color:#121212;
    text-decoration: none;
    
}
    
a.contact:hover {
    color:#F05B5C; 
}
