/* Body */
body{
    background-color: #FCF0EC;
}

/* Headings and pharagraph styles */

h1{ 
    font-family: "Volkorn";
    font-size: 60px;
    color: #F05B5C;
    font-weight: 500;
    line-height: 60px;
    margin: 0;
}

h2{
    font-family: "Volkorn";
    font-size:48px; 
    font-weight: 600;
    color: #121212;
    line-height: 48px;
    margin: 0;
}

h3{
    font-family: "Volkorn";
    font-size:32px; 
    font-weight: 500;
    color: #121212;  
}

h4{
    font-family: "Volkorn";
    font-size:24px; 
    font-weight: 500;
    color: #121212;  
}

p{
    font-family:"Open Sans";
    font-size: 18px;
    font-weight:300;
    color: #121212; 
    line-height: 1.4;  
}

.category{
    font-size: 14px;
    color: #0D87DB;
}

/* Header */
#menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
}

#menu .logo {
    margin-left: 3%;
    width: 200px;
    height: auto;
}

#menu .logo image{
    width: 100%;
    height: auto;
}

#menu .nav{
    margin-right: 3%;
}

#menu .nav ul {
   

}

#menu .nav ul li {
    display: inline-block;
    margin: 20px;
    
}

#menu .nav ul li a {
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color: #121212;
    text-decoration: none;
}

#menu .nav ul li a:hover {
   color:#F05B5C;
   transition: color 0.3s ease; 
}

/* Main */

.wrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content:space-between;
    height: calc(60vh - 140px);
    align-items: center;
    padding: 5%;
}

.hero-image{
    flex-basis: 40%;
    align-self: center;
}
.hero-image img{
    padding: 1%;
    width: 100%;
    height: auto;
}
.hero-text{
    padding:2%;
    flex-basis: 50%;
    align-self: center;
}

.hero-text p a.social-linkedin{
    color:#0D87DB;
    background-image:url(../images/icon-linkedin.svg);
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 24px;
    background-size: 18px;
    margin-left: 10px; 
    transition: all 0.3s ease;  
    text-decoration: none; 
}

.hero-text p a.social-linkedin:hover{
    color:#0865A5;
    text-decoration: underline;
    
}

.hero-text p a.social-dribbble{
    color:#0D87DB;
    background-image:url(../images/icon-dribbble.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    background-size: 18px;   
    margin-left: 10px;
    transition: all 0.3s ease;  
    text-decoration: none; 
}

.hero-text p a.social-dribbble:hover{
    color:#0865A5;
    text-decoration: underline;
    
}
/* Skills Section */

.my-skills{
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
    /* padding:25px 20vh; */
    justify-content: space-between;
    height: calc(50vh - 140px);
    padding-bottom: 100px;
}

.my-skills h3{
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 7%;
}

.skill{
    flex-basis: calc( (100%/3) - 60px );
    
}

.skill h4{ 
    text-align: center;
}

.skill-img{
    margin: auto;
    width: 100%;
    text-align: center;

}


.skill-img img{
    width: 25%;
    height: auto;
    margin: auto;
}

.skill p.category{ 
    color:#121212!important;
}


/* Project Section */

.projects .section-title{
    text-align:center;
    margin-bottom: 5%;
}

.project{
    display: flex;
    padding:50px 15vh;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.project-img{
    flex-basis: 50%;
    margin:0px;
}

.project-img img{
    width: 100%;
    height: auto;
}

.project-text{
    flex-basis: 45%;
}

.project-text a{
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: #121212;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 26px;
    transition: color 0.3s ease; 
}

.project-text a:hover {
    color:#F05B5C;
    transition: color 0.3s ease;
    background-image: url(../images/arrow-right-red.svg);
 }

.project:nth-of-type(odd){
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}
.project:nth-of-type(even) .project-img{
    flex-basis: 45%;
}
.project:nth-of-type(even) .project-text{
    text-align: right;
    flex-basis: 50%;
}

/* Footer*/
footer{
    background-color: white;
    width: 100%;
    height: 120px;
    display: flex;
    margin-top: 15vh;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 14px;
}

footer ul.social{
    padding:0;
}

footer ul.social li{
    display: inline-block;  
}

footer a.footer-linkedin{
    display: block;
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-linkedin.svg);
}

footer a.footer-dribbble{
    display: block;
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-dribbble.svg);
    margin-left: 15px;
}

a.contact{ 
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color:#121212;
    text-decoration: none;  
}
    
a.contact:hover {
    color:#F05B5C;
    transition: color 0.3s ease;  
}
