/* Body */
body{
    background-color: #FCF0EC;
}

*{
    box-sizing: border-box;
}

/* Headings and pharagraph styles */

h1{ 
    font-family: "Volkorn";
    font-size: 54px;
    color: #F05B5C;
    font-weight: 600;
    line-height: 60px;
    margin: 0;
}

@media screen and (max-width: 860px) {
    .hero h1{
        font-size: 42px;
    }
}

h2{
    font-family: "Volkorn";
    font-size:48px; 
    font-weight: 600;
    color: #121212;
    line-height: 48px;
    margin: 0;
}

@media screen and (max-width: 860px) {
    h2{
        font-size: 36px;
    }
}

h3{
    font-family: "Volkorn";
    font-size:32px; 
    font-weight: 500;
    color: #121212;
}

@media screen and (max-width: 860px) {
    h3{
        font-size: 24px;
    }
}

h4{
    font-family: "Volkorn";
    font-size:24px; 
    font-weight: 500;
    color: #121212;  
}

@media screen and (max-width: 860px) {
    .hero h4{
        font-size: 18px;
    }
}

p{
    font-family:"Open Sans";
    font-size: 18px;
    font-weight:300;
    color: #121212; 
    line-height: 1.4;  
}

@media screen and (max-width: 860px) {
    p{
        font-size: 14px;
    }
}

.category{
    font-size: 14px;
    color: #0D87DB;
}

@media screen and (max-width: 860px) {
    .category{
        font-size: 12px;
    }
}

/* Header */
#menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;

}

@media screen and (max-width: 860px) {
    #menu {
        height: 60px;
    }
}

#menu .logo {
    margin-left: 50px;
    width: auto;
    height: 80%;
}

@media screen and (max-width: 860px) {
    #menu .logo{
        margin-left: 25px;
    }
}


#menu .logo img{
    width: auto;
    height: 100%;
}

#menu .nav{
    margin-right: 50px;
}

#menu .nav .toggler {
    display:none;
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color: #121212;
    text-decoration: none;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 860px) {
    #menu .nav .toggler {
        display:block;
    }
}

#menu .nav ul {
}

@media screen and (max-width: 860px) {
    #menu .nav ul {
        display:none;   
    }
}

#menu .nav ul li {
    display: inline-block;
    margin: 20px;
    
}

#menu .nav ul li a {
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color: #121212;
    text-decoration: none;
}

#menu .nav ul li a:hover {
   color:#F05B5C;
   transition: color 0.3s ease; 
}

/* Main */

.wrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 860px) {
    .hero{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.hero .hero-image{
    flex-basis: 33%;
    align-self: center;
}

@media screen and (max-width: 860px) {
    .hero .hero-image{
        order: 1;
        flex-basis: 60%;
    }
}

.hero-image img{
    width: 100%;
    height: auto;
}

.hero .hero-text{
    flex-basis: 50%;
    align-self: center;
}

@media screen and (max-width: 860px) {
    .hero .hero-text{
        order: 0;
        flex-basis: 80%;
        text-align: center;
    }
}

.hero-text p a.social-linkedin{
    color:#0D87DB;
    background-image:url(../images/icon-linkedin.svg);
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 24px;
    background-size: 14px;
    margin-left: 10px; 
    transition: all 0.3s ease;  
    text-decoration: none; 
}

@media screen and (max-width: 860px) {
    .hero-text p a.social-linkedin{
        background-size: 12px;
        padding-left: 18px;
    }
}

.hero-text p.category{ 
    color:#121212!important;
    line-height: 1.5;
}

.hero-text p a.social-linkedin:hover{
    color:#0865A5;
    text-decoration: underline;
   
}

.hero-text p a.social-dribbble{
    color:#0D87DB;
    background-image:url(../images/icon-dribbble.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    background-size: 14px;   
    margin-left: 10px;
    transition: all 0.3s ease;  
    text-decoration: none; 
}

@media screen and (max-width: 860px) {
    .hero-text p a.social-dribbble{
        background-size: 12px;
        padding-left: 18px;
    }
}


.hero-text p a.social-dribbble:hover{
    color:#0865A5;
    text-decoration: underline;   
}

/* Skills Section */

.my-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (max-width: 720px) {
    .my-skills{
        justify-content: center;
    }
}

.my-skills h3{
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 50px;
}

.skill{
    flex-basis: calc( (100%/3) - 60px ); 
    background-color: white;
    padding: 20px;
    border-top: 3px solid #F05B5C;
}

@media screen and (max-width: 1024px) {
    .skill{
        flex-basis: calc( (100%/3) - 15px );
    }
}

@media screen and (max-width: 720px) {
    .skill{
        flex-basis: 100%;
        margin-bottom: 30px;
        max-width: 400px;
    }
}

.skill h4{ 
    text-align: center;
    font-weight: 600;
}

.skill-img{
    margin: auto;
    width: 100%;
    text-align: center;
}

.skill-img img{
    width: 25%;
    height: auto;
    margin: auto;
}

.skill p.category{ 
    color:#121212!important;
    line-height: 1.5;
    font-weight: 300;
}

/* Project Section */

.projects{
        padding: 50px 0;
}

.projects .section-title{
    text-align:center;
}

.project{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 860px) {
    .project{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.project-img{
    flex-basis: 50%;
    margin:0px;
}

@media screen and (max-width: 860px) {
    .project-img{
        flex-basis: 100%;
        margin:0px auto 30px auto;
    }
}

.project-img img{
    width: 100%;
    height: auto;
}

.project-text{
    flex-basis: 45%;
}

@media screen and (max-width: 860px) {
    .project-text{
        flex-basis: 100%;
        max-width: 400px;
        text-align: center;
    }
}

.project-text a{
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: #121212;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 26px;
    transition: color 0.3s ease; 
}

.project-text a:hover {
    color:#F05B5C;
    transition: color 0.3s ease;
    background-image: url(../images/arrow-right-red.svg);
 }

.project:nth-of-type(odd){
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project:nth-of-type(even) .project-img{
    flex-basis: 45%;
}

@media screen and (max-width: 860px) {
    .project:nth-of-type(even) .project-img{
        flex-basis: 100%;
    }
}

.project:nth-of-type(even) .project-text{
    text-align: right;
    flex-basis: 50%;
}

@media screen and (max-width: 860px) {
    .project:nth-of-type(even) .project-text{
        flex-basis: 100%;
        text-align: center;
    }
}

/* Footer*/
footer{
    background-color: white;
    width: 100%;
    height: 120px;
    padding: 0 50px;
    display: flex;
    box-sizing: border-box;
}

/* footer{ 
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 0 50px;
    box-sizing: border-box;
}
*/

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 860px) {

    footer{
    flex-wrap: wrap;
    justify-content: center;
    }
}

footer p{
    font-size: 14px;
}

@media screen and (max-width: 860px) {

    footer p{
    display:none;
    }
}

footer ul.social{
    padding:0;
}

footer ul.social li{
    display: inline-block;  
}

footer a.footer-linkedin{
    display: block;
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-linkedin.svg);
}

footer a.footer-dribbble{
    display: block;
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-dribbble.svg);
    margin-left: 15px;
}

a.contact{ 
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color:#121212;
    text-decoration: none;  
}
    
a.contact:hover {
    color:#F05B5C;
    transition: color 0.3s ease;  
}
